.about img{
  width: 100%;
}
.about h1{
  position: absolute;
  top: 180px;
  left: 910px;
  font-size: 22px;
  font-weight: 400;
  color: #023760;
  font-family: "Judson", serif;
}
.about p{
  font-size: 33px;
  font-weight: 400;
  line-height: 47.15px;
  text-align: center;
  font-family: "Judson", serif;
  position: absolute;
  top: 210px;
  left: 761px;
  color: #023760;
}
.container {
  display: flex;
}

.animated-box {
  width: 287px;
  height: 228px;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 0px #000000e3;
  opacity: 0;
  animation: appear 0.5s forwards;
  margin: 0 27px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-count {
  font-size: 52px;
  color: #006792;
  animation: countUp 2s;
  animation-fill-mode: forwards;
  font-family: "Judson", serif;
  display: flex;
  justify-content: center;
}
.animated-box h3{
  margin: 0px 10px 14px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}
.animated-box p{
  margin: 0px 15px 14px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.greywave{
  height: 500px;
}
.greywave img{
  width: 100%;
  height: 600px;
}

.grey{
  display: flex;
  position: relative;
  top: -396px;
}
.greybox{
  width: 363px;
height: 300px;
border-radius: 16px;
background-color: #FFFFFF;
margin: 26px 28px;
box-shadow: 0px 0px 17px 0px #000000e3;
}

.text-image{
  margin-top: 88px;
}


@keyframes countUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.vector12{
  top: 100%;
    left: 90%;
    width: 30px;
    transform: rotate(28.08deg);
}

.vector22{
  left: 13%;
  top: 56%;
  width: 314px;
}
.dotsVector1{
  left: 73%;
  top: 20%;
  z-index: 1;
}
.section3 .wavesVector1 {
  left: 11%;
  top: 13%;
  z-index: 3;
}

.section3 .pentagonVector1 {
  left: 74%;
  top: -5%;
  z-index: -1;
}

.about-ani{
  margin-bottom: 54px;
}

.box1{
  margin-bottom: 50px;
}
.Graybox img {
  /* background-color: #d9d9d9; */
  width: 515px;
  height: 455px;
  border-radius: 40px;
  margin-left: 40px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3-Description11 p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  left: 45px;
}
.section3-Description11.visible {
  opacity: 1;
  transform: translateX(0);
}

.section3-Description11 {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.9s, transform 0.9s;
}

.section3 {
  padding: 2%;
}
.section3-Image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section3 .row {
  width: 100%;
}

.Section3Vector {
  position: absolute;
}

.section3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3.visible {
  opacity: 1;
  transform: translateY(0);
}
.section3-Image {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3-Description11 {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.9s, transform 0.9s;
}
.section3-Image.visible {
  opacity: 1;
  transform: translateX(0);
}
.section3-Description11.visible {
  opacity: 1;
  transform: translateX(0);
}

/*----2 animation-------*/

.section3 {
  padding: 2%;
}
.section3-Image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.GrayImg3 img {
  /* background-color: #d9d9d9; */
  width: 515px;
  height: 455px;
  border-radius: 40px;
  margin-left: 40px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3-Description3 p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  right: 27px;
  top: 9px;
}

.section3 .row {
  width: 100%;
}

.Section3Vector {
  position: absolute;
}

.section3 .vector13 {
  top: 100%;
  left: 10%;
  width: 30px;
  transform: rotate(28.08deg);
}

.section3 .vector23 {
  left: 51%;
  top: 56%;
  width: 314px;
}

.section3 .pentagonVector3 {
  left: 2%;
  top: -13%;
  z-index: -2;
}

.section3 .dotsVector3 {
  left: 3%;
  top: 15%;
  z-index: 1;
}

.section3 .wavesVector3 {
  left: 82%;
  top: 15%;
  z-index: 3;
}

/* section3animation */
.section3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3.visible {
  opacity: 1;
  transform: translateY(0);
}
.section3-Image {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3-Description3 {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.9s, transform 0.9s;
}
.section3-Image.visible {
  opacity: 1;
  transform: translateX(0);
}
.section3-Description3.visible {
  opacity: 1;
  transform: translateX(0);
}







@media screen and (min-width:1444px) {
.about p{
  position: absolute;
  top: 266px;
  left: 959px;
  color: #023760;
  width: 509px;
}
.about h1 {
  position: absolute;
  top: 228px;
  left: 1100px;
}
.about-ani{
  margin-left: 38px;
}
.box1{
  margin-bottom: 64px;
}
.text-image{
  margin-right: 90px;
}
.section3 .pentagonVector3 {
  left: 9%;
  top: -7%;
}
.section3 .dotsVector3 {
  left: 6%;
}
}

@media screen and (min-width:1377px) and (max-width:1443px) {
  .about p{
    left: 930px;
  }
  .about h1{
    left: 1071px;
  }
  .about-ani{
    margin-left: 43px;
    margin-bottom: 70px;
  }
  .text-image{
    margin-right: 71px;
  }
  .section3 .pentagonVector3 {
    left: 6%;
    top: -12%;
  }
  .section3 .dotsVector3 {
    left: 3%;
    top: 10%;
  }

}

@media screen and (min-width:1300px) and (max-width:1376px) {
.about p{
  left: 847px;
}
.about h1{
  left: 998px;
}
.about-ani{
  margin-left: 36px;
  margin-bottom: 55px;
}
.text-image{
  margin-right: 36px;
}
}

@media screen and (min-width:1024px) and (max-width:1199px){
.about h1 {
  position: absolute;
  top: 136px;
  left: 655px;
}
.about p{
  position: absolute;
    top: 166px;
    left: 514px;
}
.vector22 {
  left: 9%;
  top: 54%;
}
.vector12 {
  top: 81%;
  left: 92%;
}
.Graybox {
  /* background-color: #d9d9d9; */
  width: 423px;
}
.section3 .pentagonVector1 {
  left: 74%;
  top: 10%;
}
.section3 .wavesVector1 {
  left: 9%;
  top: 24%;
  z-index: 3;
}
.section3-Description11 p {
  font-size: 20px;
  position: relative;
  top: 48px;
  left: 25px;
}
.animated-box h3 {
  margin: 0px 10px 14px;
  font-size: 19px;
}
.animated-box p {
  margin: 0px 15px 14px;
  font-size: 16px;
}
.animated-box{
  margin-bottom: 8px;
}
.GrayImg3 {
  /* background-color: #d9d9d9; */
  width: 428px;
}
.section3 .pentagonVector3 {
  left: 0%;
  top: -14%;
}
.section3 .wavesVector3 {
  left: 84%;
  top: 26%;
}
.section3 .dotsVector3 {
  left: 1%;
  top: 12%;
}
.section3 .vector23 {
  left: 44%;
  top: 54%;
}
.section3 .vector13 {
  top: 81%;
}
.abu{
  overflow: hidden;
}
.section3-Description3 p {
  font-size: 22px;
  right: 0;
}
.con-last {
  margin: -24px 0px 5px;
}
}

@media screen and (min-width:500px) and (max-width:786px) {
.about p{
  font-size: 20px;
  line-height: 33.15px;
  top: 133px;
  left: 457px;
}
.about h1{
  top: 115px;
  left: 544px;
  font-size: 13px;
}
.about-ani{
  margin-bottom: 80px;
}
.abu{
  overflow: hidden;
}
.section3-Description11 p {
  left: 14px;
}
.section3-Description3 p {
  margin: 52px 0px 0px 50px;
}
.animated-box {
  margin: 0 7px;
  margin-bottom: 4px;
}
.animated-box h3{
  font-size: 14px;
}
.animated-box p {
  margin: 0px 15px 14px;
  font-size: 15px;
}
}
@media screen and (min-width:400px) and (max-width:500px){
  .about h1 {
    position: absolute;
    top: 172px;
    left: 246px;
    font-size: 10px;
  }
  .about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: center;
    font-family: "Judson", serif;
    position: absolute;
    top: 191px;
    left: 174px;
  }
  .about img {
    width: 100%;
    height: 476px;
  }
  .vector22 {
    left: 8%;
    top: 55%;
  }
  .vector12 {
    top: 100%;
    left: 96%;
  }
  .Graybox{
    position: relative;
    right: 16px;
    width: 275px;
  }
  .section3 .wavesVector1 {
    left: 4%;
  }
  .section3 .pentagonVector1 {
    left: 58%;
  }
  .dotsVector1 {
    left: 58%;
  }
  .animated-box {
    width: 90px;
    height: 130px;
    margin: 0px 7px;
}
.animated-count {
  font-size: 20px;
}
.animated-box h3 {
  margin: 0px 7px 14px;
  font-size: 10px;
}
.animated-box p {
  margin: 0px 7px 14px;
  font-size: 7px;
}
.grey{
  top: -279px;
}
.section3 .vector23 {
  left: 26%;
  top: 54%;
  z-index: -2;
}
.section3 .dotsVector3 {
  left: 3%;
  top: 9%;
  z-index: -1;
}
.section3 .pentagonVector3 {
  left: 2%;
  top: -14%;
  z-index: -2;
}
.section3 .wavesVector3 {
  left: 82%;
}
.abu{
  overflow: hidden;
}
.section3-Description3 p {
  font-size: 21px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  left: 12px;
  top: 54px;
}
.greybox {
  width: 363px;
  height: 200px;
}
.greywave img {
  width: 100%;
  height: 400px;
}
.box1{
  margin-bottom: 20px;
}
.text-image {
  margin-top: 74px;
}
.section3-Description11 p {
  font-size: 19px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  left: 5px;
}
.section3-Image.visible {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  right: 18px;
  top: 13px;
}
.box1{
  margin-top: 78px;
}
.GrayImg3 img{
  width: 294px;
}
}

@media screen and (min-width:375px) and (max-width:399px) {
  .about h1 {
    position: absolute;
    top: 172px;
    left: 224px;
    font-size: 10px;
  }

  .section3-Description11 p {
    position: relative;
    left: -4px;
    font-size: 17px;

}
  .about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: center;
    font-family: "Judson", serif;
    position: absolute;
    top: 191px;
    left: 174px;
  }
  .about img {
    width: 100%;
    height: 476px;
  }
  .vector22 {
    left: 2%;
    top: 55%;
  }
  .vector12 {
    top: 100%;
    left: 96%;
  }
  .greybox {
    width: 363px;
    height: 199px;
  }
  .greywave img {
    width: 100%;
    height: 329px;
  }
  .Graybox{
    position: relative;
    right: 16px;
    width: 275px;
  }
  .section3 .wavesVector1 {
    left: 4%;
  }
  .section3 .pentagonVector1 {
    left: 58%;
  }
  .dotsVector1 {
    left: 58%;
    z-index: -1;
  }
  .animated-box {
    width: 90px;
    height: 130px;
    margin: 0px 7px;
}
.animated-count {
  font-size: 20px;
}
.animated-box h3 {
  margin: 0px 7px 14px;
  font-size: 10px;
}
.animated-box p {
  margin: 0px 7px 14px;
  font-size: 7px;
}
.box1{
  margin-bottom: 20px;
}
.text-image {
  margin-top: 72px;
}
.grey {
  top: -253px;
}
.section3 .vector23 {
  left: 24%;
  top: 52%;
  z-index: -2;
}
.section3 .pentagonVector3 {
  left: 8%;
  top: -10%;
  z-index: -2;
  width: 120px;
}
.section3 .dotsVector3 {
  left: 5%;
  top: 5%;
  z-index: -1;
}
.section3 .wavesVector3 {
  left: 82%;
}
.abu{
  overflow: hidden;
}
.section3-Description3 p {
  font-size: 17px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  left: 2px;
  top: 54px;
}
.section3-Image.visible {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  right: 33px;
  top: 11px;
}
.about-ani {
  margin-bottom: 72px;
}
.GrayImg3 img{
  width: 293px;
  height: 429px;
  border-radius: 40px;
  margin-left: 52px;
}
}

@media screen and (min-width:300px) and (max-width:374px){
    .about h1 {
    position: absolute;
    top: 172px;
    left: 219px;
    font-size: 10px;
  }

  .section3-Description11 p {
    position: relative;
    left: 3px;
    font-size: 17px;
}
  .about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: center;
    font-family: "Judson", serif;
    position: absolute;
    top: 191px;
    left: 174px;
  }
  .about img {
    width: 100%;
    height: 476px;
  }
  .vector22 {
    left: 1%;
    top: 55%;
  }
  .vector12 {
    top: 100%;
    left: 96%;
  }
  .Graybox{
    position: relative;
    right: 16px;
    width: 275px;
  }
  .greybox {
    width: 363px;
    height: 200px;
  }
  .greywave img {
    width: 100%;
    height: 400px;
  }
  .section3 .wavesVector1 {
    left: 9%;
    width: 49px;
    top: 10%;
  }
  .about-ani {
    margin-bottom: 79px;
}
  .section3 .pentagonVector1 {
    left: 58%;
  }
  .dotsVector1 {
    left: 58%;
    z-index: -2;
  }
  .animated-box {
    width: 90px;
    height: 130px;
    margin: 0px 7px;
}
.animated-count {
  font-size: 20px;
}
.animated-box h3 {
  margin: 0px 7px 14px;
  font-size: 10px;
}
.animated-box p {
  margin: 0px 7px 14px;
  font-size: 7px;
}
.grey {
  top: -276px;
}
.text-image {
  margin-top: 72px;
}
.GrayImg3 img {
  /* background-color: #d9d9d9; */
  width: 286px;
  height: 374px;
  border-radius: 40px;
  margin-left: 48px;
}
.section3 .pentagonVector3 {
  left: 9%;
  top: -11%;
  z-index: -2;
  width: 123px;
}
.section3 .dotsVector3 {
  left: 4%;
  top: 7%;
  z-index: -1;
}
.section3 .vector23 {
  left: 27%;
  top: 46%;
  z-index: -1;
}
.section3 .wavesVector3 {
  left: 82%;
}
.abu{
  overflow: hidden;
}
.section3-Description3 p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  left: 0px;
  top: 54px;
}
.section3-Image.visible {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  right: 35px;
  top: 12px;
}
}

.animated-box {
  /* Other styles */
  animation: appear 0.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-count {
  /* Other styles */
  animation: countUp 2s;
  animation-fill-mode: forwards;
}

@keyframes countUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
