.about h1{
  position: absolute;
  top: 180px;
  left: 852px;
  font-size: 22px;
  font-weight: 400;
  color: #023760;
  font-family: "Judson", serif;
}
.about p{
  font-size: 33px;
  font-weight: 400;
  line-height: 47.15px;
  text-align: center;
  font-family: "Judson", serif;
  position: absolute;
  top: 210px;
  left: 761px;
  color: #023760;
}
.container {
  display: flex;
}

.animated-box {
  width: 287px;
  height: 228px;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 0px #000000e3;
  opacity: 0;
  animation: appear 0.5s forwards;
  margin: 0 27px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-count {
  font-size: 52px;
  color: #006792;
  animation: countUp 2s;
  animation-fill-mode: forwards;
  font-family: "Judson", serif;
  display: flex;
  justify-content: center;
}
.animated-box h3{
  margin: 0px 10px 14px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.animated-box p{
  margin: 0px 15px 14px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.greywave{
  height: 500px;
}
.greywave img{
  width: 100%;
  height: 600px;
}

.grey{
  display: flex;
  position: relative;
  top: -396px;
}
.greybox{
  width: 363px;
height: 300px;
border-radius: 16px;
background-color: #FFFFFF;
margin: 26px 28px;
box-shadow: 0px 0px 17px 0px #000000e3;
}

.text-image{
  margin-top: 88px;
}


@keyframes countUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
