.footer {
    position: relative;
    overflow: hidden;
    font-family: "Kreon", serif;
}

.wave-shape {
    position: absolute;
    top: 0; /* Adjust positioning to place it at the top */
    left: 0;
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
    z-index: 1;
}

.footer-content {
    position: relative; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 101px 11px 54px 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 88; 
}
.footer-column img{
    position: relative;
    top: 47px;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 30px;
}

.footer-column h4 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-column p {
    color: #00AEEF;
    font-size: 1rem;
    margin-bottom: 7px;
}
.footer-column p img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 0px;
    right: 37px;
}

.footer-column ul li {
    color: #00AEEF;
    font-size: 1rem;
    margin-bottom: 6px;
}
.footer-last{
    z-index: 99;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.social img{
    width: 36px;
    height: 43px;
    margin: 0 13px;
}
.social{
    position: relative;
    left: 78px;
}
.foot-line{
    position: relative;
    right: 81px;
}
.foot-line p{
    color: #69C8EF;
    font-size: 22px;
    font-weight: 500;
}
.pentogon img{
    z-index: 99;
    top: -342px;
    width: 32px;
    position: relative;
}
.shape2{
    position: relative;
    top: -420px !important;
    left: 1159px;
    width: 82px !important; 
    height: 75px;
}

@media screen and (max-width: 768px) {
    .footer-column {
        flex: 1 1 100%;
        margin-right: 0;
    }
}
