* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Judson", serif;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

.HomeBanner {
  position: relative;
  z-index: -1;
}

.HomeBanner .slick-arrow {
  display: none !important;
}

.HomeBanner .slick-dots {
  bottom: 70px;
}

.HomeSlide {
  position: relative;
}

.HomeSlide img {
  height: 90vh;
  width: 100%;
}

.BannerText {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  color: #023760;
}
.BannerText h2 {
  font-size: 41px;
  font-weight: 400;
}

.BannerText p {
  font-size: 27px;
  font-weight: 200;
}
.Bannericons {
  display: flex;
  gap: 10rem;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.iconBox {
  width: 110px !important;
  height: auto !important;
}
.grayIcon {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 525px) {
  .BannerText h2 {
    font-size: 18px;
  }

  .BannerText p {
    font-size: 13px;
  }
  .iconBox {
    width: 70px !important;
    height: auto !important;
  }
  .Bannericons {
    gap: 1rem;
    margin-top: 10px;
  }
  .HomeSlide img {
    height: 60vh;
    width: 100%;
  }
}

/* ---------- Investing -------- */

.investing {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.investing .invest-body {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.9s, transform 0.9s;
}
.investing.visible .invest-body {
  opacity: 1;
  transform: translateY(0);
}

.invest-title p {
  font-size: 20px;
  text-align: center;
}

.invest-title h2 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.invest-body {
  margin-top: 50px;
  width: 74%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3% 2%;
  gap: 2rem;
  background-color: #d3ebf5;
  border: 3px solid #29b0e8;
  border-radius: 43px;
}

.invest-body p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
}

.invest-text {
  width: 60%;
}
.invest-img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invest-img img {
  height: 350px;
  border-radius: 16px;
}
.investVector {
  position: absolute;
  z-index: -2;
}

.vector1 {
  left: 82%;
  width: 188px;
  top: 60%;
}

.vector2 {
  width: 200px;
  left: 3%;
  top: 47%;
}

.vector3 {
  left: 74.5%;
  top: 80%;
  z-index: -3;
}

.vector4 {
  width: 82px;
  left: 8.5%;
}
@media screen and (max-width: 525px) {
  .invest-title p {
    font-size: 15px;
    text-align: center;
  }
  .invest-title h2 {
    font-size: 30px;
  }
  .invest-body {
    flex-direction: column;
    margin-top: 0;
    gap: 1rem;
  }
  .invest-text {
    width: 90%;
  }
  .invest-img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .invest-img img {
    height: 150px;
  }
  .invest-body p {
    font-size: 13px;
  }
  .vector1 {
    left: 82%;
    width: 55px;
    top: 60%;
  }
  .vector2 {
    width: 110px;
    left: 2%;
    top: 50%;
  }
  .vector3 {
    left: 61.5%;
    top: 86%;
    width: 137px;
  }
  .vector4 {
    width: 50px;
    left: 2.5%;
  }
}
/* ---------- Explore -------- */

.explore {
  margin-top: 220px;
  text-align: center;
  margin-bottom: 20px;
}
.explore p {
  font-size: 20px;
  font-weight: 400;
}
.explore h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
}
.explore .IconCarousel {
  margin-top: 30px;
}
.explore .slick-arrow {
  display: none !important;
}

.exploreBox {
  background-color: #d9d9d9;
  width: 150px !important;
  height: 110px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.explore .slick-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 525px) {
  .explore {
    margin-top: 75px;
  }
  .explore p {
    font-size: 16px;
  }
  .explore h2 {
    font-size: 30px;
  }
}
/*---------Section 3-----------*/
.section3 {
  padding: 2%;
}
.section3-Image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.GrayImg {
  background-color: #d9d9d9;
  width: 515px;
  height: 455px;
  border-radius: 40px;
  margin-left: 40px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3-Description p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
}

.section3 .row {
  width: 100%;
}

.Section3Vector {
  position: absolute;
}

.section3 .vector1 {
  top: 100%;
  left: 10%;
  width: 30px;
  transform: rotate(28.08deg);
}

.section3 .vector2 {
  left: 51%;
  top: 56%;
  width: 314px;
}

.section3 .pentagonVector {
  left: 2%;
  top: 20%;
}

.section3 .dotsVector {
  left: 3%;
  top: 38%;
  z-index: 1;
}

.section3 .wavesVector {
  left: 78%;
  top: 15%;
  z-index: 3;
}

/* section3animation */
.section3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3.visible {
  opacity: 1;
  transform: translateY(0);
}
.section3-Image {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3-Description {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.9s, transform 0.9s;
}
.section3-Image.visible {
  opacity: 1;
  transform: translateX(0);
}
.section3-Description.visible {
  opacity: 1;
  transform: translateX(0);
}

/*-------Section 4-------*/
.section4 {
  margin-top: 50px;
  padding: 4%;
}

.section4-Description p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
}
.section4-Boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.leftBoxes {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.rightBoxes {
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section4Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 287px;
  height: 228px;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 0px #000000e3;
}

.section4Box h2 {
  font-size: 59px;
  font-weight: 400;
  text-align: center;
  color: #006792;
}
.section4Box h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.section4Box p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.Section4wavesVector {
  position: absolute;
  top: 105%;
  left: 22%;
  width: 100px;
}
/* section4animations */

.section4 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section4.visible {
  opacity: 1;
  transform: translateY(0);
}
.section4-Boxes {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.9s, transform 0.9s;
}
.section4-Description {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.9s, transform 0.9s;
}
.section4-Boxes.visible {
  opacity: 1;
  transform: translateX(0);
}
.section4-Description.visible {
  opacity: 1;
  transform: translateX(0);
}

.section4 .section4Box {
  opacity: 0;
  transition: opacity 0.9s, transform 0.9s;
}

.section4.visible .section4Box1 {
  opacity: 1;
  transition-delay: 1s;
}
.section4.visible .section4Box2 {
  opacity: 1;
  transition-delay: 1.4s;
}
.section4.visible .section4Box3 {
  opacity: 1;
  transition-delay: 1.8s;
}
.section4.visible .section4Box4 {
  opacity: 1;
  transition-delay: 2.2s;
}
@media screen and (max-width: 525px) {
  .section4 .row {
    flex-direction: column-reverse;
  }
  .section4-Description p {
    font-size: 15px;
  }
  .section4Box {
    width: 145px;
    height: 145px;
  }
  .section4Box h2 {
    font-size: 35px;
  }
  .section4Box h3 {
    font-size: 15px;
  }
  .section4Box p {
    font-size: 13px;
  }
  .leftBoxes {
    gap: 2rem;
  }
  .rightBoxes {
    gap: 2rem;
    margin-top: -90px;
  }
  .section4-Boxes {
    gap: 2rem;
  }
  .section4-Description {
    margin-top: 50px;
  }
}
/* ---------------Popular Courses---------------- */

.popularCourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popularCourses p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.popularCourses h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.popularCourseCards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.popularCourseCard {
  width: 405px;
  height: 454px;
  background-color: #d9d9d9;
}

@media screen and (max-width: 525px) {
  .popularCourseCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
  }
  .popularCourseCard {
    width: 300px;
    height: 300px;
  }
}
/* -----------------section6---------------- */
.section6 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.section6 h2 {
  margin-top: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}
.testimonial {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px;
}
.section6 .slick-slider {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.test-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 790px;
  height: 232px;
}
.test-text p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}
.test-img img {
  width: 220px;
  height: 180px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px 0px #000000b8;
}
.section6 .slick-arrow {
  display: none !important;
}
@media screen and (max-width: 525px) {
  .section6 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;
  }
  .testimonial {
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding: 10px;
  }
  .test-text {
    width: 250px;
  }
  .test-text p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
  }
  .section6 .slick-slider {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
/*---------------- IconCategories--------------- */
.categories {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
}

.category img {
  width: 130px;
}

.category h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  width: 70%;
}

.IconCategories .section3-Image .categorygrayImg {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.IconCategories .section3-Description p {
  font-size: 20px;
}
.mobileView {
  display: none;
}
@media screen and (max-width: 525px) {
  .desktopView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .mobileCAtegory-Image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobileCategory img {
    width: 200px;
  }
  .mobileCategory-Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1% 10%;
  }
}
