* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Judson", serif;
}

img {
  max-width: 100%;
  height: auto;
}

.HomeBanner {
  position: relative;
  z-index: -1;
}

.HomeBanner .slick-arrow {
  display: none !important;
}

.HomeBanner .slick-dots {
  bottom: 70px;
}

.HomeSlide {
  position: relative;
}

.HomeSlide img {
  height: 90vh;
  width: 100%;
}

.BannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  color: #023760;
}
.BannerText h2 {
  font-size: 41px;
  font-weight: 400;
}

.BannerText p {
  font-size: 27px;
  font-weight: 200;
}
.Bannericons {
  display: flex;
  gap: 10rem;
  margin-top: 30px;
  align-items: center;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 110px;
  background-color: #d9d9d9;
}

/* ---------- Investing -------- */

.investing {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.investing .invest-body {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.9s, transform 0.9s;
}
.investing.visible .invest-body {
  opacity: 1;
  transform: translateY(0);
}

.invest-title p {
  font-size: 20px;
  text-align: center;
}

.invest-title h2 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.invest-body {
  margin-top: 50px;
  width: 74%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 6% 2%;
  background-color: #d3ebf5;
  border: 3px solid #29b0e8;
  border-radius: 43px;
}

.invest-body p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
}

.invest-text {
  width: 60%;
}

.investVector {
  position: absolute;
  z-index: -2;
}

.vector1 {
  left: 82%;
  width: 188px;
  top: 60%;
}

.vector2 {
  width: 200px;
  left: 3%;
  top: 47%;
}

.vector3 {
  left: 74.5%;
  top: 80%;
  z-index: -3;
}

.vector4 {
  width: 82px;
  left: 8.5%;
}
/* ---------- Explore -------- */

.explore {
  margin-top: 220px;
  text-align: center;
  margin-bottom: 100px;
}
.explore p {
  font-size: 20px;
  font-weight: 400;
}
.explore h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
}
.explore .IconCarousel {
  margin-top: 30px;
}
.explore .slick-arrow {
  display: none !important;
}

.exploreBox {
  background-color: #d9d9d9;
  width: 150px !important;
  height: 110px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.explore .slick-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*---------Section 3-----------*/
.section3 {
  padding: 2%;
}
.section3-Image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.GrayImg {
  background-color: #d9d9d9;
  width: 515px;
  height: 455px;
  border-radius: 40px;
  margin-left: 40px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3-Description p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
}

.section3 .row {
  width: 100%;
}

.Section3Vector {
  position: absolute;
}

.section3 .vector1 {
  top: 100%;
  left: 10%;
  width: 30px;
  transform: rotate(28.08deg);
}

.section3 .vector2 {
  left: 51%;
  top: 56%;
  width: 314px;
}

.section3 .pentagonVector {
  left: 2%;
  top: 20%;
}

.section3 .dotsVector {
  left: 3%;
  top: 38%;
  z-index: 1;
}

.section3 .wavesVector {
  left: 78%;
  top: 15%;
  z-index: 3;
}

/* section3animation */
.section3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3.visible {
  opacity: 1;
  transform: translateY(0);
}
.section3-Image {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section3-Description {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.9s, transform 0.9s;
}
.section3-Image.visible {
  opacity: 1;
  transform: translateX(0);
}
.section3-Description.visible {
  opacity: 1;
  transform: translateX(0);
}

/*-------Section 4-------*/
.section4 {
  margin-top: 50px;
  padding: 4%;
}

.section4-Description p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
}
.section4-Boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.leftBoxes {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.rightBoxes {
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section4Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 287px;
  height: 228px;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 0px #000000e3;
}

.section4Box h2 {
  font-size: 59px;
  font-weight: 400;
  text-align: center;
  color: #006792;
}
.section4Box h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.section4Box p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.Section4wavesVector {
  position: absolute;
  top: 105%;
  left: 22%;
  width: 100px;
}
/* section4animations */

.section4 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section4.visible {
  opacity: 1;
  transform: translateY(0);
}
.section4-Boxes {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.section4-Description {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.9s, transform 0.9s;
}
.section4-Boxes.visible {
  opacity: 1;
  transform: translateX(0);
}
.section4-Description.visible {
  opacity: 1;
  transform: translateX(0);
}

/* ---------------Popular Courses---------------- */

.popularCourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popularCourses p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.popularCourses h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.popularCourseCards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.popularCourseCard {
  width: 405px;
  height: 454px;
  background-color: #d9d9d9;
}
/* -----------------section6---------------- */
.section6 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.section6ImageBox {
  width: 527px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 0px #000000b8;
  background-color: white;
  position: absolute;
  top: 52.5%;
  left: 63%;
  transform: translate(-50%, -50%);
}
