.ClientBanner img {
  width: 100%;
}
.Deliver {
  padding: 2% 6%;
}

.Deliver h2 {
  font-size: 43px;
  font-weight: 700;
  margin-left: 23px;
}

.Deliver p {
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
}

.deliverText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deliverImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topPoly {
  margin-left: 200px;
  margin-bottom: -40px;
  display: flex;
  gap: 1rem;
}

.bottomPoly {
  margin-left: -10px;
  margin-top: -30px;
  display: flex;
  gap: 1rem;
}
.hex img {
  position: absolute;
  z-index: 10;
  width: 150px;
}
.hex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 200px;
  height: 230px;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:before,
.hex:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.hex:before {
  top: -30px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:after {
  bottom: -30px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.stat {
  display: flex;
  gap: 10px;
  align-items: center;
}

.stat h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}

.stat h6 {
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

.statBox {
  width: 65px;
  height: 67px;
  background-color: #d9d9d9;
  padding: 2%;
}

.clients {
  margin-top: 100px;
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}

.clients h2 {
  font-size: 43px;
  font-weight: 700;
}

.clientCards {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.clientCard {
  width: 213px;
  height: 181px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px #000000b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientCard h2 {
  font-size: 33px;
  font-weight: 700;
}

.clientCard p {
  font-size: 22px;
  font-weight: 700;
}

.WaveClient {
  position: absolute;
  bottom: -5%;
  left: 36%;
}
@media screen and (max-width: 525px) {
  .ClientBanner img {
    width: 100%;
    height: 40vh;
  }
  .Deliver p {
    font-size: 18px;
  }
  .deliverImage {
    margin-top: 30px;
    margin-left: -20px;
  }
  .deliverImage img {
    width: 100px;
  }

  .stats {
    grid-template-columns: 1fr;
  }
  .clientCards {
    width: auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .clientCard {
    width: 150px;
    height: 150px;
    text-align: center;
    gap: 1rem;
  }
  .clientCard h2,
  .clientCard p {
    margin: 0;
  }
  .clientCard p {
    font-size: 18px;
  }
  .hex {
    width: 130px;
    height: 160px;
  }
  .topPoly {
    margin-left: 100px;
    margin-bottom: -25px;
  }

  .bottomPoly {
    margin-left: -20px;
    margin-top: -30px;
  }
}
