@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Judson", serif;
}
.train{
  overflow: hidden;
}
.train-banner h1{
  position: absolute;
  top: 147px;
  left: 839px;
  font-size: 24px;
  width: 402px;
}
.train-banner p{
  font-size: 33px;
  position: absolute;
  top: 188px;
  left: 832px;
  width: 381px;
  text-align: center;
}

.train-banner img{
  width: 100%;
}
.training{
    display: grid;
    grid-template-columns: 70% 30%;
}
.custom h1{
    font-family: "Judson", serif;
    margin: 0 59px;
    font-size: 36px;
    width: 603px;
}
.tab-layout {
    width: 91%;
    margin: 20px 0px 0px 51px;
  }
  
  .tabs {
    display: flex;
    background-color: white;
    border-bottom: 3px solid teal;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-top: 3px solid transparent;
  }
  
  .tab.active {
    border-top-color: blue;
  }
  
  .content-train {
    padding: 20px;
  }

  .tra1{
    width: 769.59px;
    height: 387px;
    margin: 16px 0px 0px;
  }
  .par-train p{
    font-family: "Judson", serif;
    font-size: 22px;
    text-align: justify;
    line-height: 38px;
  }
  .custom-image img{
    width: 319px;
    height: 259.65px;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    width: 73%;
    margin: auto;
    border-collapse: collapse;
    position: relative;
    top: 37px;
    right: 42px;
    font-family: "Judson", serif;
  }
  
  .table-row {
    display: flex;
    border-bottom: 1px solid #000000; 
  }
  
  .table-cell {
    padding: 8px;
    border-right: 1px solid #000000; 
    flex: 1;
  }
  
  .table-cell:last-child {
    border-right: none;
  }

  .train-head{
    position: relative;
    top: -11px;
    left: 87px;
    width: 175px;
  }
  .side-train{
    display: flex;
  }

  .side-image-train{
    width: 257px;
    height: 167px;
    background-color: #D9D9D9;
    position: relative;
    left: 90px;
  }
  .side-text-image p{
    width: 801px;
    position: relative;
    left: 16px;
    top: 19px;
    text-align: justify;
  }

  .name-traine{
    position: relative;
    top: 170px;
    right: 80px;
    font-size: 24px;
    font-weight: 400;
  }

  .desgi-traine{
    position: relative;
    top: 199px;
    right: 168px;
    font-size: 24px;
    font-weight: 400;
  }

  .faq-container {
    width: 80%;
    margin: auto;
  }
  
  .faq-container h2 {
    font-weight: bold;
    width: 200px;
  }

  .frequent{
    position: relative;
    top: 80px;
    margin-bottom: 169px;
  }
  
  .faq-item {
    margin-bottom: 35px;
  }
  
  .faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black; 
    padding-bottom: 10px; 
  }
  
  .faq-arrow {
    font-size: 18px;
  }
  
  .faq-answer {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  .form-image{
    display: flex;
  }

  .image-form img{
    width: 536px;
    height: 526px;
    border-radius: 25px;
    position: relative;
    left: 78px;
  }
  
  .custom-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    left: 151px;
    background-color: #F0FBFF;
    width: 556px;
    height: 541px;
  }
  
  .custom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .custom-col {
    flex-basis: 48%; /* Adjust as needed */
  }
  
  .custom-form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 8px 48px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .custom-button {
    padding: 10px 20px;
    background-color: #2BB0E9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 369px;
    width: 100px;
    
  }
  .input-with-icon {
    position: relative;
  }
  
  .input-with-icon img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
  }
  

  
  @media screen and (min-width:1444px) {
    .train-banner p {
      left: 1027px;
    }
    .train-banner h1{
      left: 1037px;
    }
    .form-image{
      margin: 0px 88px;
    }
    .side-text-image p {
      width: 916px;
      position: relative;
      left: 16px;
      top: -7px;
      text-align: justify;
      font-size: 20px;
    }
    .frequent{
      right: 68px;
    }
  }

  @media screen and (min-width:1377px) and (max-width:1443px) {

    .train-banner h1{
      position: absolute;
      top: 147px;
      left: 969px;
    }
    .train-banner p{
      top: 188px;
      left: 961px;
    }
    .side-text-image p {
      width: 837px;
      position: relative;
      left: 16px;
      top: 10px;
      text-align: justify;
      font-size: 18px;
    }
    .frequent{
      right: 54px;
    }
    .form-image{
      margin: 0px 40px;
    }
  }

  @media screen and (min-width:1300px) and (max-width:1376px) {
    .train-banner p{
      left: 908px;
    }
    .train-banner h1{
      left: 917px;

    }
    .side-text-image p {
      width: 807px;
      position: relative;
      left: 3px;
      top: 2px;
      text-align: justify;
      font-size: 18px;
    }
    .frequent{
      right: 47px;
    }
    .form-image{
      margin: 0px 15px;
    }
  }
  
  @media screen and (min-width:1024px) and (max-width:1199px){
    .train-banner h1{
      left: 639px;
      top: 128px;
      width: 375px;
    }
    .train-banner p {
      font-size: 27px;
      position: absolute;
      top: 163px;
      left: 628px;
      width: 381px;
    }
    .custom{
      position: relative;
      right: 31px;
    }
    .custom-image{
      position: relative;
      right: 28px;
    }
    .name-traine {
      position: relative;
      top: 170px;
      right: 128px;
    }
    .desgi-traine {
      position: relative;
      top: 199px;
      right: 218px;
    }
    .side-text-image p {
      width: 601px;
      position: relative;
      left: -101px;
      top: 2px;
    }
    .side-image-train{
      left: 30px;
    }
    .frequent{
      right: 63px;
    }
    .image-form img {
      width: 360px;
      left: 43px;
    }
    .custom-form-container{
      left: 75px;
    }
  }

  @media screen and (min-width:500px) and (max-width:786px) {
    .train-banner h1 {
      position: absolute;
      top: 84px;
      left: 478px;
      font-size: 17px;
      width: 275px;
  }
  .train-banner p {
    font-size: 26px;
    position: absolute;
    top: 107px;
    left: 442px;
    width: 327px;
  }
  .tab-layout{
    margin: 19px 0px 0px 10px;
  }
  .custom h1 {
    font-family: "Judson", serif;
    margin: 0 16px;
    font-size: 25px;
  }
  .custom-image{
    position: relative;
    right: 17px;
    top: 35px;
  }
  .table-container{
    width: 92%;
    top: 37px;
    right: 3px;
  }
  .side-train {
    display: inline-flex;
}
.side-text-image p {
  width: 501px;
  position: relative;
  left: -138px;
  top: -8px;
}
.side-image-train {
  width: 207px;
  height: 167px;
  background-color: #D9D9D9;
  position: relative;
  left: 13px;
}
.name-traine{
  right: 132px;
}
.desgi-traine{
  right: 219px;
}
.frequent{
  right: 49px;
}
.form-image {
  display: inline-block;
}
.image-form img{
  left: 112px;
}
.custom-form-container{
  left: 106px;
    top: 32px;
}
}


@media screen and (min-width:400px) and (max-width:500px){
  .train-banner img {
    width: 100%;
    height: 500px;
}
.train-banner h1 {
  position: absolute;
  top: 192px;
  left: 256px;
  font-size: 10px;
  width: 160px;
}
.train-banner p {
  font-size: 12px;
  position: absolute;
  top: 209px;
  left: 241px;
  width: 182px;
}
.training {
  display: flex;
  flex-direction: column;
}
.custom h1 {
  font-family: "Judson", serif;
  margin: 0 19px;
  font-size: 19px;
  width: 338px;
}
.tab {
  position: relative;
  right: 0px;
  font-size: 12px;
}
.tab-layout {
  width: 91%;
  margin: 20px 0px 0px 10px;
}
.custom-image{
  margin: 0px auto;
}
.side-text-image p {
  width: 247px;
  position: relative;
  left: -82px;
  top: -6px;
}
.side-train {
  display: inline-flex;
  margin-top: 44px;
}
.side-image-train {
  width: 127px;
  height: 97px;
  background-color: #D9D9D9;
  position: relative;
  left: 8px;
  top: 21px;
}
.name-traine {
  height: 10px;
  position: relative;
  top: 121px;
  right: 80px;
  font-size: 14px;
  font-weight: 400;
}
.desgi-traine {
  position: relative;
  top: 138px;
  right: 133px;
  font-size: 14px;
  font-weight: 400;
}
.train-head {
  position: relative;
  top: 40px;
  left: 10px;
}
.frequent {
  position: relative;
  top: 27px;
  margin-bottom: 103px;
  right: 26px;
}
.form-image {
  display: flex;
  flex-direction: column;
}
.image-form img {
  width: 317px;
  height: 205px;
  border-radius: 25px;
  position: relative;
  left: 51px;
}
.custom-form-container{
    left: 0px;
    width: 382px;
    height: 498px;
    top: 41px;
}
.custom-button{
  left: 242px;
}
}

@media screen and (min-width:375px) and (max-width:399px) {
  .train-banner img {
    width: 100%;
    height: 500px;
}
.train-banner h1 {
  position: absolute;
  top: 192px;
  left: 208px;
  font-size: 10px;
  width: 160px;
}
.train-banner p {
  font-size: 12px;
  position: absolute;
  top: 209px;
  left: 191px;
  width: 182px;
}
.training {
  display: flex;
  flex-direction: column;
}
.custom h1 {
  font-family: "Judson", serif;
  margin: 0 19px;
  font-size: 19px;
  width: 338px;
}
.tab {
  position: relative;
  right: 0px;
  font-size: 12px;
  padding: 10px 15px;
}
.tab-layout {
  width: 91%;
  margin: 20px 0px 0px 10px;
}
.custom-image{
  margin: 0px auto;
}
.side-text-image p {
  width: 247px;
  position: relative;
  left: -82px;
  top: -6px;
}
.side-train {
  display: inline-flex;
  margin-top: 44px;
}
.side-image-train {
  width: 127px;
  height: 97px;
  background-color: #D9D9D9;
  position: relative;
  left: 8px;
  top: 21px;
}
.name-traine {
  height: 10px;
  position: relative;
  top: 121px;
  right: 80px;
  font-size: 14px;
  font-weight: 400;
}
.desgi-traine {
  position: relative;
  top: 138px;
  right: 133px;
  font-size: 14px;
  font-weight: 400;
}
.train-head {
  position: relative;
  top: 40px;
  left: 10px;
}
.frequent {
  position: relative;
  top: 27px;
  margin-bottom: 103px;
  right: 26px;
}
.faq-container {
  width: 92%;
  margin: 0px 41px;
}
.form-image {
  display: flex;
  flex-direction: column;
}
.image-form img {
  width: 317px;
  height: 205px;
  border-radius: 25px;
  position: relative;
  left: 29px;
}
.custom-form-container{
    left: 0px;
    width: 350px;
    height: 498px;
    top: 41px;
}
.custom-button{
  left: 202px;
} 
input[type="text"], input[type="email"], input[type="tel"], select, textarea {
  width: 100%;
  padding: 9px 1px 10px 32px;
}
}

@media screen and (min-width:300px) and (max-width:374px){
  .train-banner img {
    width: 100%;
    height: 500px;
}
.train-banner h1 {
  position: absolute;
  top: 192px;
  left: 197px;
  font-size: 10px;
  width: 160px;
}
.train-banner p {
  font-size: 12px;
  position: absolute;
  top: 209px;
  left: 176px;
  width: 182px;
}
.training {
  display: flex;
  flex-direction: column;
}
.custom h1 {
  font-family: "Judson", serif;
  margin: 0 19px;
  font-size: 19px;
  width: 338px;
}
.tab {
  position: relative;
  right: 0px;
  font-size: 12px;
  padding: 10px 14px;
}
.tab-layout {
  width: 91%;
  margin: 20px 0px 0px 10px;
}
.custom-image{
  margin: 0px auto;
}
.side-text-image p {
  width: 201px;
  position: relative;
  left: -84px;
  top: -12px;
}
.side-train {
  display: inline-flex;
  margin-top: 44px;
}
.side-image-train {
  width: 127px;
  height: 97px;
  background-color: #D9D9D9;
  position: relative;
  left: 8px;
  top: 21px;
}
.name-traine {
  height: 10px;
  position: relative;
  top: 121px;
  right: 80px;
  font-size: 14px;
  font-weight: 400;
}
.desgi-traine {
  position: relative;
  top: 138px;
  right: 133px;
  font-size: 14px;
  font-weight: 400;
}
.train-head {
  position: relative;
  top: 40px;
  left: 10px;
}
.frequent {
  position: relative;
  top: 1px;
  margin-bottom: 103px;
  right: 26px;
}
.faq-container {
  width: 92%;
  margin: 0px 41px;
}
.form-image {
  display: flex;
  flex-direction: column;
}
.image-form img {
  width: 317px;
  height: 205px;
  border-radius: 25px;
  position: relative;
  left: 18px;
  top: -56px;
}
.custom-form-container{
    left: 0px;
    width: 350px;
    height: 498px;
    top: 0px;
}
.custom-button{
  left: 202px;
} 
input[type="text"], input[type="email"], input[type="tel"], select, textarea {
  width: 100%;
  padding: 9px 1px 10px 32px;
}
}