@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Judson", serif;
}
.train-banner h1{
  position: absolute;
  top: 147px;
  left: 839px;
  font-size: 24px;
  width: 402px;
}
.train-banner p{
  font-size: 33px;
  position: absolute;
  top: 188px;
  left: 772px;
  width: 500px;
}

.train-banner img{
  width: 100%;
}
.training{
    display: grid;
    grid-template-columns: 70% 30%;
}
.custom h1{
    font-family: "Judson", serif;
    margin: 0 59px;
    font-size: 36px;
    width: 603px;
}
.tab-layout {
    width: 91%;
    margin: 20px 0px 0px 51px;
  }
  
  .tabs {
    display: flex;
    background-color: white;
    border-bottom: 3px solid teal;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-top: 3px solid transparent;
  }
  
  .tab.active {
    border-top-color: blue;
  }
  
  .content-train {
    padding: 20px;
  }

  .tra1{
    width: 769.59px;
    height: 387px;
    margin: 16px 0px 0px;
  }
  .par-train p{
    font-family: "Judson", serif;
    font-size: 22px;
    text-align: justify;
    line-height: 38px;
  }
  .custom-image img{
    width: 319px;
    height: 259.65px;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    width: 73%;
    margin: auto;
    border-collapse: collapse;
    position: relative;
    top: 37px;
    right: 42px;
    font-family: "Judson", serif;
  }
  
  .table-row {
    display: flex;
    border-bottom: 1px solid #000000; /* Horizontal line */
  }
  
  .table-cell {
    padding: 8px;
    border-right: 1px solid #000000; /* Vertical line */
    flex: 1;
  }
  
  /* Remove border from the last cell */
  .table-cell:last-child {
    border-right: none;
  }

  .train-head{
    position: relative;
    top: -11px;
    left: 87px;
    width: 175px;
  }
  .side-train{
    display: flex;
  }

  .side-image-train{
    width: 257px;
    height: 167px;
    background-color: #D9D9D9;
    position: relative;
    left: 90px;
  }
  .side-text-image p{
    width: 801px;
    position: relative;
    left: 16px;
    top: 19px;
    text-align: justify;
  }

  .name-traine{
    position: relative;
    top: 170px;
    right: 80px;
    font-size: 24px;
    font-weight: 400;
  }

  .desgi-traine{
    position: relative;
    top: 199px;
    right: 168px;
    font-size: 24px;
    font-weight: 400;
  }

  .faq-container {
    width: 80%;
    margin: auto;
  }
  
  .faq-container h2 {
    font-weight: bold;
    width: 200px;
  }

  .frequent{
    position: relative;
    top: 80px;
    margin-bottom: 169px;
  }
  
  .faq-item {
    margin-bottom: 35px;
  }
  
  .faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black; /* Add this line */
    padding-bottom: 10px; /* Add some padding to space out the text from the line */
  }
  
  .faq-arrow {
    font-size: 18px;
  }
  
  .faq-answer {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  .form-image{
    display: flex;
  }

  .image-form img{
    width: 536px;
    height: 526px;
    border-radius: 25px;
    position: relative;
    left: 78px;
  }
  
  .custom-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    left: 151px;
    background-color: #F0FBFF;
    width: 556px;
    height: 541px;
  }
  
  .custom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .custom-col {
    flex-basis: 48%; /* Adjust as needed */
  }
  
  .custom-form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .custom-button {
    padding: 10px 20px;
    background-color: #2BB0E9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 369px;
    
  }
  .input-with-icon {
    position: relative;
  }
  
  .input-with-icon img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
  }
  

  
  @media screen and (min-width:1444px) {
    .train-banner p {
      left: 973px;
    }
    .train-banner h1{
      left: 1039px;
    }
  }

  @media screen and (min-width:1377px) and (max-width:1443px) {

    .train-banner h1{
      position: absolute;
      top: 147px;
      left: 969px;
    }
    .train-banner p{
      top: 188px;
      left: 902px;
    }
  }

  @media screen and (min-width:1300px) and (max-width:1376px) {
    .train-banner p{
      left: 846px;
    }
    .train-banner h1{
      left: 917px;

    }
  }
  